.boton {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
    padding: 3px;
}

.boton:hover {
    background: #333;
    color: #fff;
}

.filtrador {
    width: 100%;
    height: 5em;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filtradorHamburger {
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .45rem;
    display: none;
    z-index: 10;
}

.filtradorHamburger div {
    background: #000;
    height: 2px;
    width: 2em;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
    cursor: pointer;
}

.filtradorCruz {
    cursor: pointer;
}

.filtradorCruz div:first-child {
    transform: rotate(45deg);
}

.filtradorCruz div:nth-child(2) {
    opacity: 0;
}

.filtradorCruz div:last-child {
    transform: rotate(-45deg);
}

.menuBusqueda {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filtroName {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110%;
    font-size: 1.2em;
    margin: 0;
}


.filterCoderArea {
    position: relative;
    z-index: 100;
}

.busquedaResponsive {
    width: 50em;
    height: 5em;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* animation: menuBusqueda .5s linear forwards; */
}

@keyframes menuBusqueda {
    0% {
        top: -100%;
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        top: 150%;
        opacity: 1;
    }
}

.inputBoxSearch {
    position: relative;
}

.inputBoxSearch input {
    width: auto;
    height: 80%;
    border-radius: 10px;
    border: none;
    outline: none;
}


.hiddenBox {
    width: 11em;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 300%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    z-index: 50;
}

.codersName {
    overflow: hidden;
}

.textoArea {
    position: relative;
    z-index: 100;
}

.hiddenBox p {
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 2em;
    line-height: 2em;
    transition: all .5s;
}

.hiddenBox p:hover {
    background: rgba(5, 154, 233, 0.5);
}

.hidden {
    display: block;
    animation: showing .5s linear;
}

@keyframes showing {
    from {
        opacity: 0;
        top: -1000%;
    }

    to {
        opacity: 1;
        top: 300%;
    }
}

@media (max-width: 900px) {

    .menuBusqueda {
        display: none;
    }

    .filtradorHamburger {
        display: flex;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        left: 5%;
        z-index: 50;
        cursor: pointer;
    }

    .busquedaResponsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .filtroName {
        top: -15%;
        left: -20%;
    }

    .areaFiltro {
        left: -31%;
    }

    .nombreFiltro {
        left: -25%
    }


    .boxSearchInput {
        position: relative;
        left: 30%
    }

    .hidden {
        display: block;
        position: absolute;
        left: 45%;
    }

    @keyframes showing {
        from {
            opacity: 0;
            top: 0;
        }

        to {
            opacity: 1;
            top: 130%;
        }
    }
}